# All
*/*

# White List
!Iterator/*.cs

# Adapter pattern
!Adapter/*
Adapter/*/*
!Adapter/*/*.cs
!Adapter/*/*.md

# Template Method pattern
!TemplateMethod/*
TemplateMethod/*/*
!TemplateMethod/*/*.cs
!TemplateMethod/*/*.md


